body {
  background-color: rgb(8, 73, 52);
}
.div-america {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  width: 30rem;
  height: 6rem;
  direction: rtl;
  color: rgb(221, 216, 216);
}
#div-chicago {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
}
.img-chicago {
  position: absolute;
  border-radius: 2rem;
  top: 3rem;
  left: 20rem;
}
.name-pitzza {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  position: absolute;
  left: 9rem;
  top: 4rem;
}
.img-heart {
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.text-pitzza {
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 18rem;
  text-align: right;
  color: rgb(121, 121, 121);
  position: absolute;
  top: 8rem;
  left: 1rem;
}
.line-pitzza {
  position: absolute;
  top: 15rem;
  left: 2rem;
  color: rgb(123, 124, 124);
}
.cost {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.8rem;
  position: absolute;
  top: 20rem;
  left: 2rem;
}
.img-afzodan {
  position: absolute;
  width: 4rem;
  top: 19rem;
  left: 33rem;
}
#div-stromboli {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  top: 2rem;
}
.img-stromboli {
  width: 18rem;
  height: 12rem;
  border-radius: 2rem;
  position: absolute;
  left: 21rem;
  top: 3rem;
}
#div-detroit {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  top: 4rem;
}
#div-newyork {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  top: 6rem;
}

#div-california {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  top: 8rem;
}
#div-makhlot-iran {
  width: 40rem;
  height: 24.2rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 50rem;
  top: 6.2rem;
}
#div-gharch-morgh-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 50rem;
  top: 32.5rem;
}
#div-sabzijat-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 50rem;
  top: 58.5rem;
}
#div-estaik-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 50rem;
  top: 84.5rem;
}
#div-gharch-gosht-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 50rem;
  top: 110.5rem;
}
.name-pitzza-gosht {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  position: absolute;
  left: 6rem;
  top: 4rem;
}
.div-iran {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  width: 30rem;
  height: 6rem;
  direction: rtl;
  position: absolute;
  top: 1rem;
  left: 50rem;
  color: rgb(221, 216, 216);
}

.div-italy {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  width: 30rem;
  height: 6rem;
  direction: rtl;
  position: absolute;
  top: 1rem;
  left: 100rem;
  color: rgb(221, 216, 216);
}
#div-margherita-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 99rem;
  top: 6.5rem;
}
#div-sisly-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 99rem;
  top: 32.5rem;
}
#div-calzone-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 99rem;
  top: 58.5rem;
}
#div-marinara-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 99rem;
  top: 84.5rem;
}
#div-fongy-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 99rem;
  top: 110.5rem;
}
