body {
  margin-top: 0%;
  background-color: rgb(226, 245, 241);
}
#big-green {
  width: 100%;
  height: 11rem;
  background-color: rgb(8, 73, 52);
  border-radius: 2.5rem;
  margin-top: 1rem;
}
#mester-pitza {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  left: 77rem;
  top: 3rem;
  text-shadow: 2px 2px 4px whitesmoke;
}
#logo-pitza {
  width: 13rem;
  height: 12.5rem;
  position: absolute;
  left: 86rem;
  top: 0.1rem;
}
.welcome {
  text-shadow: 3px 3px 4px whitesmoke;
  font-family: cursive;
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 4rem;
  font-weight: 300;
  left: 10rem;
}

.border {
  top: 3rem;
  left: 2rem;
  position: absolute;
  width: 3.5rem;
  height: 3rem;
  border: 0.2rem solid rgb(9, 243, 145);
  border-radius: 0.5rem;
  align-items: center;
}
#img-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.3rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 5rem;
}
#lblInput {
  width: 33rem;
  height: 3rem;
  border: 0;
  border-radius: 2rem;
  position: absolute;
  left: 10rem;
  top: 1rem;
  text-align: center;
}
#div-green2 {
  width: 100%;
  height: 17rem;
  background-color: rgb(8, 73, 52);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 10rem;
}
.title-green2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  left: 55rem;
  top: 2rem;
  text-shadow: 2px 2px 4px whitesmoke;
}
.information {
  width: 16rem;
  height: 3rem;
  background-color: rgb(10, 167, 70);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 1.5rem;
  text-align: center;
  color: rgb(5, 46, 33);
  font-size: 2rem;
  font-weight: 800;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  left: 73rem;
  top: 3rem;
}
#pitzza2 {
  width: 40rem;
  height: 22rem;
  position: absolute;
  top: 8rem;
  left: 5rem;
}
#div-sandwich {
  width: 6rem;
  height: 7rem;
  background-color: rgb(207, 214, 219);
  border-radius: 0.8rem;
}

.america {
  width: 30;
  height: 20rem;
  border-radius: 4rem;
}
.iran {
  width: 30;
  height: 20rem;
  border-radius: 4rem;
  position: absolute;
  left: 33.5rem;
  top: 31.3rem;
}
.italy {
  width: 30;
  height: 20rem;
  border-radius: 4rem;
  position: absolute;
  left: 68.5rem;
  top: 31.3rem;
}
.america-pitzza {
  width: 18rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 2rem;
  position: absolute;
  border: 0.2rem dashed rgb(8, 73, 52);
  text-align: center;
  top: 40rem;
  left: 6.5rem;
  font-weight: 600;
  background-color: white;
  color: rgb(8, 73, 52);
  opacity: 0.7;
}
.iran-pitzza {
  width: 18rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 2rem;
  position: absolute;
  border: 0.2rem dashed rgb(8, 73, 52);
  text-align: center;
  top: 40rem;
  left: 40rem;
  font-weight: 600;
  background-color: white;
  color: rgb(8, 73, 52);
  opacity: 0.7;
}
.italy-pitzza {
  width: 18rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 2rem;
  position: absolute;
  border: 0.2rem dashed rgb(8, 73, 52);
  text-align: center;
  top: 40rem;
  left: 75rem;
  font-weight: 600;
  background-color: white;
  color: rgb(8, 73, 52);
  opacity: 0.7;
}
#div-america {
  width: 28rem;
  height: 0.5rem;
  background-color: rgb(34, 167, 122);
  border-radius: 1rem;
  position: relative;
  left: 1rem;
}
#div-iran {
  width: 28rem;
  height: 0.5rem;
  background-color: rgb(34, 167, 122);
  border-radius: 1rem;
  position: absolute;
  top: 52.6rem;
  left: 35rem;
}
#div-italy {
  width: 28rem;
  height: 0.5rem;
  background-color: rgb(34, 167, 122);
  border-radius: 1rem;
  position: absolute;
  top: 52.6rem;
  left: 69.5rem;
}
.title-line-america {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(4, 36, 26);
  position: relative;
  left: 3rem;
}
.title-line-iran {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(4, 36, 26);
  position: absolute;
  left: 3rem;
  top: 53rem;
}
.title-line-italy {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(4, 36, 26);
  position: absolute;
  left: 3rem;
  top: 53rem;
}
#div-chicago {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  left: 28rem;
}
.img-chicago {
  position: absolute;
  border-radius: 2rem;
  top: 3rem;
  left: 20rem;
}
.name-pitzza {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  position: absolute;
  left: 9rem;
  top: 4rem;
}
.img-heart {
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.text-pitzza {
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 18rem;
  text-align: right;
  color: rgb(121, 121, 121);
  position: absolute;
  top: 8rem;
  left: 1rem;
}
.line-pitzza {
  position: absolute;
  top: 15rem;
  left: 2rem;
  color: rgb(123, 124, 124);
}
.cost {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.8rem;
  position: absolute;
  top: 20rem;
  left: 2rem;
}
.img-afzodan {
  position: absolute;
  width: 4rem;
  top: 19rem;
  left: 33rem;
}
#div-stromboli {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  left: 28rem;
  top: 2rem;
}
.img-stromboli {
  width: 18rem;
  height: 12rem;
  border-radius: 2rem;
  position: absolute;
  left: 21rem;
  top: 3rem;
}
#div-detroit {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  left: 28rem;
  top: 4rem;
}
#div-newyork {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  left: 28rem;
  top: 6rem;
}

#div-california {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  left: 28rem;
  top: 8rem;
}
#div-makhlot-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28rem;
  top: 58rem;
}
#div-gharch-morgh-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 84.2rem;
}
#div-sabzijat-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 110.2rem;
}
#div-estaik-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 136.2rem;
}
#div-gharch-gosht-iran {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 162.2rem;
}
.name-pitzza-gosht {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  position: absolute;
  left: 6rem;
  top: 4rem;
}
#div-margherita-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 58.2rem;
}
#div-sisly-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 84.2rem;
}
#div-calzone-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 110.2rem;
}
#div-marinara-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 136.2rem;
}
#div-fongy-pitzza {
  width: 40rem;
  height: 24rem;
  background-color: white;
  border-radius: 3rem;
  position: absolute;
  left: 28.5rem;
  top: 162.2rem;
}
#see-all {
  width: 15rem;
  height: 2rem;
  background-color: rgb(16, 175, 95);
  border-radius: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-align: right;
  color: rgb(3, 54, 29);
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  position: absolute;
  top: 190rem;
  left: 41rem;
}
.flash {
  width: 2.5rem;
  height: 2.55rem;
  position: absolute;
  left: 2rem;
}
